.borderWrap {
    border-radius: 5px;
    border-color: antiquewhite;
    border-width: 2px;
}
.wrapper {
    width: auto;
    display: grid;
    color: #fff;
    grid-gap: 1%;
    grid-auto-rows:  auto;
    padding: 1em;
}

.box {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
    font-size: 100%;
    height: 5em;
    padding: .2em;
}

.box.head {
    text-align: center;
    background-color: #999; 
    margin-bottom: .5em;
    height: 2.5em;

}