
    <h1 style="align-content:center">Sign up Now!</h1>
    <p>Welcome to RPGCalendar, a service to help you track your role player game stats:</p>

    <p style="background-size:auto">To get started please log into your account or create one now!</p>

 <form>
            User Name :
            <input type="text" name="userTXT" >
        </form>
        <form>
            Password :
            <input type="password" name="passTXT">
        </form>
    
    <p>The <code>RPGCalendar</code> was created by Mark Studor, Emilio Campos, Gustavo Leyva,& Andrew Yoo.
