<div>
    <div class="accInfo">
        <h3>Bio</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sequi libero numquam corrupti placeat incidunt ratione molestiae est rerum dolore. Beatae aut maiores incidunt consectetur, cupiditate quod eaque mollitia! Nihil!</p>
        <h3>Favorite Games</h3>
        <li>The Isle of Dread</li>
        <li>PLaying with my Laz3r</li>
        <li>Sitting in my tree</li>
    </div>
    <div class="card">
        <img src="https://avatarfiles.alphacoders.com/144/144986.jpg" alt="kitty" style="width:100%">
        <h1 class="text">Kalipso Kitty</h1>
        <p class="member">Member Since Feb. 4, 2020</p>
        <p class="text">All about the Kat-Nip</p>
        <p><button>Message</button></p>
    </div>

</div>