<p class="player">Player List</p>
<div class="p1">
  <button class="button" type="button" onclick="alert('Player 1 Information\nName: Stu-ork')">Info</button>
</div>
<div class="p2">
  <button class="button" type="button" onclick="alert('Player 2 Information\nName: Ca-pwnd')">Info</button>
</div>
<div class="p3">
  <button class="button" type="button" onclick="alert('Player 3 Information\nName: Not Sonic')">Info</button>
</div>
<div class="p4">
  <button class="button" type="button" onclick="alert('Player 4 Information\nName: Clifficus')">Info</button>
</div>
<input class="b1" id="Button1" type="button" value="Remove Player"/>

