<div class="divs"> 
    <table class="tbl-top">
        <thead>
            <tr>
                <th class="th-title"><h2>Your Games</h2></th>
                <th class="th-btn"><button class="btn" onclick="alert('Would forward user to available games\nTo browse and then join a game')">Add Game</button></th>
            </tr>
        </thead>
    </table>
    

    <table class="tbl">
        <thead>
            <tr>
                <th class="th">Title</th>
                <th class="th">Game Master</th>
                <th class="th">Num. of Players</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td">D&D</td>
                <td class="td">Dwight</td>
                <td class="td">4</td>
            </tr>
            <tr>
                <td class="td">GloomHaven</td>
                <td class="td">Ben</td>
                <td class="td">3</td>
            </tr>
            <tr>
                <td class="td">Mice & Mystics</td>
                <td class="td">Jessie</td>
                <td class="td">4</td>
            </tr>
        </tbody>
    </table>
</div>
<br><br><br><br><br><br>
<div class="divs"> 
    <table class="tbl-top">
        <thead>
            <tr>
                <th class="th-title"><h2>Available Games</h2></th>
                <th class="th-btn"><button class="btn" onclick="alert('feature not fully implemnted\nGame would be added to table above')">Join Game</button></th>
            </tr>
        </thead>
    </table>
    

    <table class="tbl">
        <thead>
            <tr>
                <th class="th">Title</th>
                <th class="th">Game Master</th>
                <th class="th">Num. of Players</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td">Possible Game 1</td>
                <td class="td">4 - 7</td>
                <td class="td"><label><input type="checkbox" value=""></label></td>
            </tr>
            <tr>
                <td class="td">Possible Game 2</td>
                <td class="td">4 - 7</td>
                <td class="td"><label><input type="checkbox" value=""></label></td>
            </tr>
            <tr>
                <td class="td">Possible Game 3</td>
                <td class="td">4 - 7</td>
                <td class="td"><label><input type="checkbox" value=""></label></td>
            </tr>
        </tbody>
    </table>
</div>

<br><br><br>

<div>
    <button class="btn-create">Create Game</button>
</div>